yt-dlp

faster-whisper
torch
imageio-ffmpeg
pydub

torch 
torchaudio 
silero-vad

soundfile
demucs
librosa

# pip install git+https://github.com/sanchit-gandhi/whisper-jax.git
jax 
jaxlib 
flax

fastapi
cloudinary
uvicorn 

